body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.font-size1{
    font-size: 50px;
}

.font-size2{
    font-size: 40px;
}

.orange-color{
    color: orange;
}
.yooo{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 100%;
}
.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(252, 120, 97),rgb(255, 60, 25));
    
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}
.background-image1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.background-image2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.exp{
    display: flex;
    margin-bottom: 300px;
}

p{
    color: gray;
}